body{
    margin: 0;
}
img{
	max-width: 100%;
}
header{
    box-shadow: 0px 2px 6px 0px #e8e4e47a;
    padding: 13px 0;
}
.container{
	width: 1000px;
	margin: auto;
	overflow: hidden;
}
.logo{
	width: 20%;
	float: left;
}
.logo img{

}
nav{
	width: 80%;
	float: left;
}
nav ul{	
	margin: 0;	
	text-align: right;
}
nav ul li{
	list-style: none;	
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #3b506c;
	display: block;
	padding: 10px 20px;
}
nav ul li a:hover{
	color: #0c66ff;
}
section{

}
.overview{
    text-align: center;
    padding: 25px 0;
}
.overview h1{
    font-size: 54px;
    max-width: 800px;
    margin: 0 auto;
    color: #3b506c;
}
.overview h1 span{
    color: #0c66ff;
    text-transform: capitalize;
}
.overview p{
    font-size: 20px;
    margin: 0;
    color: #3b506c;
}
.about{
	
}
.about img{

display: block;

margin: auto;

max-width: 600px;
}body{
    margin: 0;
}
img{
	max-width: 100%;
}
header{
    box-shadow: 0px 2px 6px 0px #e8e4e47a;
    padding: 13px 0;
}
.container{
	width: 1000px;
	margin: auto;
	overflow: hidden;
}
.logo{
	width: 20%;
	float: left;
}
.logo img{

}
nav{
	width: 80%;
	float: left;
}
nav ul{	
	margin: 0;	
	text-align: right;
}
nav ul li{
	list-style: none;	
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #3b506c;
	display: block;
	padding: 10px 20px;
}
nav ul li a:hover{
	color: #0c66ff;
}
section{

}
.overview{
    text-align: center;
    padding: 25px 0;
}
.overview h1{
    font-size: 60px;
    max-width: 800px;
    margin: 0 auto;
    color: #3b506c;
}
.overview h1 span{
    color: #0c66ff;
    text-transform: capitalize;
}
.overview p{
    font-size: 22px;
    margin: 0;
    color: #3b506c;
}
.about{
	padding: 10px 0;
}
.about img{
	display: block;
	margin: auto;
	max-width: 600px;
}
.feature-section{padding: 25px 0;}
.col-6{
    width: 50%;
    float: left;
}
.feature{
    font-size: 30px;
    padding: 20px;
}
.feature h2{
    margin: 0;
    color: #3B506C;
}
.feature h2 span{
	color: #F47885;
}
.feature p{
	font-size: 22px;
    margin: 0;
    color: #3b506c;
	padding: 20px 0;
}
.text-right{
	text-align:right;
}
.blog-section{padding-bottom: 50px;}
.col-4{
	width: 33.33%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
.blog{
	background-color: #FDEBED;
	padding: 30px;
}
.blog img{
    width: 100%;
    height: 300px;
}
.blog h3{
    font-size: 20px;
    margin: 0;
    color: #3B506C;
}
.blog p{
    margin-bottom: 5px;
    color: #3B506C;
    font-size: 17px;
}
.red{
	background-color: #FDEBED;
}
.yellow{
	background-color: #EBF9F4;
}
.green{
	background-color: #FFF7E8;
}


